.connect{
    height: 90px;
    width: 90x;
}

.long{
    width: 450px;
}

h1{
    text-align: center;

}
h2{
    text-align: center;
}


#me{
    border-radius: 12px;
    height: 120px;
    width: 120x;
}

#link{
    height: 120px;
    width: 120px;
}

#line {
    border:none;
    height: 20px;
       width: 100%;
      height: 50px;
      margin-top: 0;
      border-bottom: 1px solid #1f1209;
      box-shadow: 0 20px 20px -20px #333;
    margin: -50px auto 10px; 
  }



#message{
    float: initial;
    height: 150px;
    width: 450px;
}
input{
    align-content: center
}


